/*
* Copyright © 2020. TIBCO Software Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

/* Scroll styling */

body {
    margin: 0;
}

#fullContainer {
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    height: 100vh;
}

#pivotTableContainer {
    background-color: white;
    color: #4f4f4f;
    width: auto;
}

#pivotTableContainer, 
tr, 
td, 
th {
    border-collapse: collapse;
}

/* th {
    resize: horizontal;
    overflow: auto;
}

th::-webkit-resizer{
    color: transparent;
} */

#pivotTableContainer tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}

#pivotTableContainer tbody tr .featured{
    background-color: #E2E3EF;
}

#pivotTableContainer tbody tr:hover, 
#pivotTableContainer tbody tr:hover .featured,
#pivotTableContainer tbody tr:hover .subcategory{
    background-color: #848DA7 !important;
    color: white;
}

#pivotTableContainer tbody tr .category{
    color: #735679;
    font-weight: Bold;
}

#pivotTableContainer thead {
    font-size: 11pt;
}

#pivotTableContainer tbody {
    font-size: 10pt;
}

#pivotTableContainer .category {
    background-color: white;
    border-bottom: 1px solid whitesmoke;
}

.category, 
.subcategory {
    text-align: left;
}

.category{
    min-width: 200px;
    background-color: red;
}

.subcategory {
    min-width: 350px;
    border-right: 1px solid rgb(216, 216, 216);
}

.value {
    text-align: right;
    min-width: 200px;
}

td, th{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
